/* header */

header {
  background-color: #e7dfc6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2.5rem;
  color: #131B23;
  padding-left: 15px;
}

nav {
  width: 25%;
  color: #2274A5;
  display: flex;
  justify-content: space-around;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 1.8rem;
}

/* main */

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  background-color: #eef3f7;
}