/* general */

main {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  background-color: #eef3f7;
  display: flex;
  flex-flow: column;
}

h1 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  letter-spacing: .4rem;
  word-spacing: 1rem;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 25px;
  text-align: center;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 1.8rem;
  padding-top: 15px;
  text-align: center;
}

p {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 1.2rem;
  text-align: center;
}

#mode {
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
  align-items: center;
}

#light{
  border: 2px solid;
  width: 10%;
  border-right-width: 1px;
  padding: 0 0;
}

#dark{
  border: 2px solid;
  width: 10%;
  border-left-width: 1px;
  padding: 0 0;
}

.button {
  padding: 0 37%;
}

.blue-text {
  color: #154e6e;
}

.blue-text-dark {
  color: #2481B8;
}

.black-text {
  color: #131B23;
}

.black-text-dark {
  color: #7eb3e7;
}

.brown-background {
  background-color: #e7dfc6;
}

.brown-background-dark {
  background-color: #575345;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  width: 100%;
}

.logo {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 2.5rem;
  padding-left: 15px;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-around;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: underline;
}

/* main index.html */

section.guide {
  padding-top: 100px;
}

div.guide {
  display: flex;
  padding-top: 70px;
  height: 500px;
  justify-content: space-evenly;
}

.guide-item {
  height: 200px;
  width: 200px;
  border: 2px dashed;
  border-radius: 10%;
}

.black-border {
  border-color: #131B23;
}

.black-border-dark {
  border-color: #82b7ec;
}

.guide-item h3 {
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

/* footer */

footer {
  background-color:#817c6c;
  height: 40px;
}

.footer {
  padding-top: 15px;
  padding-right: 10px;
  text-align: right;
  font-weight: 700;
}

/* main about-me.html */

.buffer {
  height: 40px;
}

.headshot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-self: center;
}

.grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-template-areas: "color-block1 color-block1 about1 about1"
                       "about2 about2 color-block2 color-block2"
                       "color-block3 color-block3 about3 about3";
  row-gap: 50px;
  padding-bottom: 70px;
}

#color-block1 {
  grid-area: color-block1;
}

#color-block2 {
  grid-area: color-block2;
}

#color-block3 {
  grid-area: color-block3;
}

.color-block {
  background-color: #154e6e;
}

.color-block-dark {
  background-color: #2481B8;
}

#about1 {
  grid-area: about1;
}

#about2 {
  grid-area: about2;
}

#about3 {
  grid-area: about3;
}

/* main projects.html */

.flex {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-info {
  height: 250px;
  border-radius: 0 0 10px 10px;
}

.selected {
  background-color: #154e6e;
  border-radius: 10px 10px 0 0;
  width: 33%;
  height: 40px;
  line-height: 40px;
}

.selected-dark {
  background-color: #336481;
  border-radius: 10px 10px 0 0;
  width: 33%;
  height: 40px;
  line-height: 40px;
}

.unselected {
  background-color: #2991ce;
  border-radius: 10px 10px 0 0;
  width: 33%;
  height: 40px;
  line-height: 40px;
}

.unselected-dark {
  background-color: #2481B8;
  border-radius: 10px 10px 0 0;
  width: 33%;
  height: 40px;
  line-height: 40px;
}

.hidden-info {
  display: none;
}

/* dark elements */

.html-dark {
  background-color: #000000;
}

.main-dark {
  background-color: #232425;
}

.footer-dark {
  background-color: #7a7667;
}